// ENCODE_PROMPT

process {

    withName: '.*:ENCODE_POSITIVE:.*' {
        publishDir = [
            path: { "${params.outdir}/clip/positive" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:ENCODE_NEGATIVE:.*' {
        publishDir = [
            path: { "${params.outdir}/clip/negative" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
