// ENCODE_PROMPT

process {

    withName: '.*:ENCODE_PROMPT:.*' {
        publishDir = [
            path: { "${params.outdir}/clip/prompt" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:ENCODE_NEGATIVE_PROMPT:.*' {
        publishDir = [
            path: { "${params.outdir}/clip/negative_prompt" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
